django==1.6.7
pymysql
django-cors-headers
https://github.com/grafos-ml/test.fm/archive/v1.0.4.tar.gz
python-memcached
djangorestframework
uwsgi
#django-uwsgi-cache

######
nose
django-nose
coverage
django-coverage
django-debug-toolbar

# for Documentation
sphinx
sphinx_rtd_theme

# For scripts
docopt
click