django
mysql-python
django-cors-headers
djangorestframework
rest-pandas
# Test.fm fails when installing from requirements file. TO fix in Test.fm project.
#https://github.com/grafos-ml/test.fm/archive/v1.0.4.tar.gz
bottleneck
futures==2.1.6
pandas==0.14.1
python-dateutil
python-memcached
pytz
six==1.4.1
uwsgi
#blist

# For scripts
docopt
django-docopt-command
click