-r requirements.txt

######
nose
django-nose
coverage
django-coverage
django-debug-toolbar
git+https://github.com/joerick/pyinstrument.git#egg=pyinstrument

# for Documentation
sphinx
sphinx_rtd_theme