django>=1.6
cython
nose
django-nose
coverage
djangorestframework
django-debug-toolbar
numpy
scipy
pandas
django-templatetag-handlebars
pymysql
sphinx
python-crontab

#django-crontab

#https://github.com/kivy/pyjnius/archive/1.0.3.tar.gz
