django>=1.6
djangorestframework
#numpy
#scipy
#pandas
pymysql
django-cors-headers
https://github.com/grafos-ml/test.fm/archive/v1.0.2.tar.gz

# for frontend
https://github.com/joaonrb/django-templatetag-handlebars/archive/master.zip

# for debug
nose
django-nose
coverage
django-coverage
django-debug-toolbar

# for Documentation
sphinx
