{% load staticfiles i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
	<head>
		<meta charset="utf-8">
		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>{% block title %}{% endblock title %}</title>
		<meta name="description" content="A nice description if this goes to production">
		<meta name="author" content="joaonrb">

		<meta name="viewport" content="width=device-width; initial-scale=1.0">

		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
		{% block css_files %}
		<link rel="stylesheet" href="{% static "css/bootstrap.css" %}"/>
		<link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}"/>
        {% endblock css_files %}
	</head>

	<body>
		<nav class="navbar navbar-default" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header-navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">FFOS</a>
			</div>
			<div class="collapse navbar-collapse" id="header-navbar">
				<form class="navbar-form navbar-left" role="search">
					<div class="form-group">
						<input type="search" class="form-control" placeholder="Search">
					</div>
					<button type="submit" class="btn btn-default">Search</button>
				</form>
				{% if user.is_authenticated %}
				<ul class="nav navbar-nav navbar-right">
				    <li>
				        <a href="{% url "logout" %}?next=/">{% trans "logout" %}</a>
				    </li>
				</ul>
				{% endif %}
			</div><!-- /.navbar-collapse -->
		</nav>
		<div class="container">
			{% block body %}{% endblock body %}
		</div>
        {% block js_files %}
		<script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
		<script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
        <script type="text/javascript" src="{% static "js/std.js" %}"></script>
        {% endblock js_files %}
	</body>
</html>