{% extends "base.html" %}
{% load i18n cache staticfiles templatetag_handlebars %}

{% block title %}{% trans "Recommendation for" %} {{ ffosuser.external_id }}{% endblock title %}

{% block js_files %}
    <script>
        var csrf_token = "{{ csrf_token }}";
        var user = "{{ ffosuser.external_id }}";
    </script>
    {{ block.super }}
    {% tplhandlebars "app-container" %}
        {{#each apps}}
        <div class="col-sm-6 col-md-3">
            <a class="thumbnail" data-toggle="modal" data-target="#opt_{{ external_id }}">
                <img alt="{{  name }}" src="" class="ff-large-icon" id="{{ external_id }}">
            </a>
            <p>{{ name }}</p>
            <div class="modal fade" id="opt_{{ external_id }}">
                <div class="modal-dialog">
                    <div class="modal-content col-lg-offset-2 col-lg-6">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">{{ name }}</h4>
                        </div>
                        <div class="modal-body">
                            <a onclick="{{ action }}" class="btn btn-{{ install_or_remove_color }}" data-dismiss="modal">
                                <i class="glyphicon glyphicon-{{ install_or_remove }}"></i>
                            </a>
                            <a href="{{ store }}" class="btn btn-primary">{% trans "Go to Store" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    {% endtplhandlebars %}
    <script type="text/javascript" src="{% static "js/handlebars-v1.3.0.js" %}"></script>
    <script type="text/javascript" src="{% static "js/recommender.connector.js" %}"></script>
    <script>
        var appContainer = Handlebars.compile($("#app-container").html());
        loadInstalledApps(user);
        loadRecommendations(user);
    </script>
{% endblock js_files %}

{% block body %}
    {% cache 900 recommend_header ffosuser.external_id %}
			<div class="row">
				<div class="col-xs-12">
					<div class="bs-docs-section">
						<div class="page-header">
							<h3 id="overview">
								{{ ffosuser.external_id }}
								<br />
								<small>{{ ffosuser.locale }}</small>
							</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<h4>{% trans "Installed Apps" %}</h4>
				<hr>
                <div id="installedApps" class="col-xs-12 col-dm-12">

                </div>
                <div class="col-xs-12 pull-left">
                    <ul class="pagination" id="installedPager"></ul>
                </div>

			</div>
    {% endcache %}
			<div class="row">
				<h4>{% trans "Recomendations" %}</h4>
				<hr>
                <div id="recommendedApps" class="col-xs-12">
                </div>
                <div class="col-xs-12 pull-left">
                    <ul class="pagination" id="recommendedPager">
                        <li><a href="#" onclick="loadRecommendations(user);"><i class="glyphicon glyphicon-refresh"></i></a></li>
                    </ul>
                </div>
			</div>
{% endblock body %}