- extends "ab_testing/base.jade"
- load staticfiles i18n
- block "js"
    | {{ block.super }}
    script(src!="{% static "js/Chart.min.js" %}")
    script
        var ab_callbacks = [];
        var ab_events = [];
        var model_a = null;
        var model_b = null;
        var ab_last = null;
        var ab_limit = 100000;
        function upload_data() {
            $.ajax({
                url: "{% url "ab_events" %}"+(window.ab_last != null ? ("?starting="+window.ab_last) : ""),
                type: "GET",
                dataType: "json",
                success: function(data) {
                    if(data.length != 0) {
                        window.ab_last = data[0].timestamp;
                        window.ab_events = window.ab_events.concat(data);
                        if(window.ab_events.length > window.ab_limit)
                            window.ab_events.splice(0, window.ab_events.length-window.ab_limit);
                        if(window.model_a == null || window.model_b == null)
                            $.each(data, function(index, value) {
                                if(window.model_a == null) {
                                    window.model_a = value.model;
                                    $("#model_a-label").html(window.model_a);
                                } else if(window.model_b == null && window.model_a != value.model) {
                                    window.model_b = value.model;
                                    $("#model_b-label").html(window.model_b);
                                    return true;
                                }
                            });
                        $.each(ab_callbacks, function(index, value) {
                            value(window.ab_events);
                        });
                    }
                }
            });
        }
        var ab_getter = setInterval(function(){upload_data()}, 10000);

- block "body"
    nav(role="navigarion").navbar.navbar-inverse
        div.container-fluid
            div.navbar-header
                button(type="button", data-toggle="collapse", data-target="#ab-dashboard-navbar").navbar-toggle
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a(href!="{% url "ab_dashboard" %}").navbar-brand  A/B Dashboard
            div.collapse.navbar-collapse#ab-dashboard-navbar
                ul.nav.navbar-nav
                    li.active
                        a(href="#") Stats


    div#main
        div.row
            div.col-md-2.col-md-offset-2
                h5 Create A/B test
                form

            div.col-md-6
                h4 AB Frequencies
                div#row
                    div.col-md-2
                        ul.list-group
                            li.list-group-item
                                span.badge(style="background-color:rgba(220,220,220,0.5);") # 
                                #model_a-label Model A
                            li.list-group-item
                                span.badge(style="background-color:rgba(151,187,205,0.5);") #
                                #model_b-label Model B
                    div.col-md-8
                        canvas(width="400")#ab_frequencies
                script
                    function abFrequencies(data) {
                        var datas = [[0, 0, 0, 0], [0, 0, 0, 0]];
                        $.each(data, function(index, value) {
                            if(value.model == model_a)
                                datas[0][value.type]++;
                            else
                                datas[1][value.type]++;
                        });
                        var ctx = $("#ab_frequencies").get(0).getContext("2d");
                        console.log(ctx);
                        var chart = new Chart(ctx).Bar(
                            {
                                labels: ["Recommended", "Installed", "Clicked", "Removed"],
                                datasets: [
                                    {
                                        label: window.model_a,
                                        fillColor: "rgba(220,220,220,0.5)",
                                        strokeColor: "rgba(220,220,220,0.8)",
                                        highlightFill: "rgba(220,220,220,0.75)",
                                        highlightStroke: "rgba(220,220,220,1)",
                                        data: datas[0]
                                    },
                                    {
                                        label: window.model_b,
                                        fillColor: "rgba(151,187,205,0.5)",
                                        strokeColor: "rgba(151,187,205,0.8)",
                                        highlightFill: "rgba(151,187,205,0.75)",
                                        highlightStroke: "rgba(151,187,205,1)",
                                        data: datas[1]
                                    }
                                ]
                            });
                    }
                    abFrequencies([]);
                    ab_callbacks.push(abFrequencies);

